body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    background-color: #FF7A22;
}

.header {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    max-height: 30vh;
}

.header-left {
    flex-wrap: nowrap;
    font-size: 15vw;
    font-weight: 300;
    line-height: 14rem;
}

.header-right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 20px 0 0;
    font-size: 2em;
}

.image-row {
    display: flex;
    flex: auto;
    margin: 30px 50px 0;
    max-height: 60vh;
    justify-content: space-between;
    gap: 10px;
}

.sample-images {
    max-height: 55vh;
    width: auto;
}